<div class="search__buttons">
	<a href="https://catalogue.scdi-montpellier.fr/nde/dbsearch?vid=33MON_INST%3A33UM_NDE&amp;lang=fr" class="vn-btn vn-btn--secondary buttons__databases" data-primo="1">
		<span class="vn-a-content">Bases de données</span>
		<span class="material-symbols-outlined" aria-hidden="true"> database </span>
	</a>
	<a href="https://catalogue.scdi-montpellier.fr/nde/home?vid=33MON_INST%3A33UM_NDE&amp;mode=advanced&amp;lang=fr" class="vn-btn vn-btn--primary buttons__advanced_search" data-primo="1">
		<span class="vn-a-content">Recherche avancée</span>
		<span class="material-symbols-outlined" aria-hidden="true"> share_windows </span>
	</a>
</div>
